.sea {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: hsl(186, 75%, 50%);
  background-image: url(./fish-bg2.jpg); /*linear-gradient(to bottom, #00c9ff 0%, #92fe9d 100%),*/
  /*background-blend-mode: multiply;*/
  background-size: cover;
  touch-action: none;
}
/* gold fish */
.clownfish{
  touch-action: none;
  position: absolute;
  display: block;
  perspective: 1000px;
  width: 100px;
  height: 66px;
  transform-style: preserve-3d;
  transition: all .1s;
}
.clownfishanimate1{
  position: absolute;
  display: block;
  animation: swing1 11s ease-in-out infinite alternate;
  transition: transform .2s ease-in-out;
}
.clownfishanimate2{
  position: absolute;
  display: block;
  animation: swing2 7s ease-in-out infinite alternate;
  transition: transform .2s ease-in-out;
}
.clownfish-body {
  display: block;
  position: relative;
  margin-top: 20px;
  margin-left: 26px;
  background-color: rgba(252, 149, 15,0.5);
  
  background-image: radial-gradient(circle at 85px 30px,
                                      rgb(252, 149, 15) 28px,
                                      black 29px,
                                      white 30px,
                                      white 39px,
                                      black 40px,
                                      rgb(252, 149, 15) 41px,
                                      rgb(252, 149, 15) 54px,
                                      black 55px,
                                      white 56px,
                                      white 64px,
                                      black 65px,
                                      rgba(252, 149, 15,1) 66px,
                                      rgb(252, 149, 15) 77px,
                                      black 78px,
                                      white 79px
                      );

  border-radius: 50%;
  width: 100px; 
  height: 50px;
  box-shadow: inset -5px 10px 18px -10px rgba(255,255,255,0.75),
              inset -5px -10px 18px -10px rgba(0,0,0,0.75);
  
  animation: fisheat 4s ease-in-out infinite alternate;
  /*transition: clip-path .2s ease-in-out;*/
}
.body2{
  display: block;
  position: absolute;
  margin-top: 20px;
  margin-left: 26px;
}
.clownfish-gill {
  position: absolute;
  margin-left: 66px;
  margin-top: 6px;
  z-index: 1;
  border-radius: 50%;
  width: 30px;
  height: 36px;
  transform: rotate(-10deg);
  /*box-shadow: -3px 0px 1px -1px rgb(180,106,11);*/
  animation: fishbreathe 2s ease-in-out infinite alternate;
  /*transition: box-shadow .2s ease-in-out;*/
}
.clownfish-eye {
  position: absolute;
  margin-left: 74px;
  margin-top: 10px;
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.clownfish-pupil {
  position: absolute;
  z-index: 2;
  margin-left: 4px;
  margin-top: 4px;
  background-color: black;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  animation: fisheye 21s ease-in-out infinite;
  /*transition: transform .2s ease-in-out;*/
}
.clownfish-uptail1 {
  position: absolute;
  margin-left: 54px;
  margin-top: 33px;
  background-color: rgb(252, 149, 15);
  border-radius: 50%;
  box-shadow: inset 4px 2px 1px -2px rgba(0,0,0,0.75);
  width: 46px;
  height: 32px;
  /*transition: transform .2s ease-in-out;*/
  animation: fishtail3 3.1s ease-in-out infinite alternate;
  transform-origin: right;
}
.clownfish-uptail2 {
  position: absolute;
  margin-left: 28px;
  margin-top: 33px;
  background-color: rgb(252, 149, 15);
  border-radius: 50%;
  box-shadow: inset 4px 2px 1px -2px rgba(0,0,0,0.75);
  width: 40px;
  height: 32px;
  /*transition: transform .2s ease-in-out;*/
  animation: fishtail3 3.6s ease-in-out infinite alternate;
  transform-origin: right;
}
.clownfish-downtail {
  position: absolute;
  margin-left: 30px;
  margin-top: 50px;
  background-color: rgb(252, 149, 15);
  border-radius: 50%;
  box-shadow: inset -2px -4px 1px -2px rgba(0,0,0,0.75);
  width: 32px;
  height: 40px;
  /*transition: transform .2s ease-in-out;*/
  animation: fishtail4 3.3s ease-in-out infinite alternate;
  transform-origin: right;
}
.clownfish-midtailanimate {
  position: absolute;
  display: block;
  top: 54px;
  left: 62px;
  width: 26px;
  height: 16px;
  /*transition: transform .2s ease-in-out;*/
  animation: fishtail2 0.3s ease-in-out infinite alternate;
  transform-origin: right;
}
.clownfish-midtailanimate2 {
  position: relative;
  /*transition: transform .2s ease-in-out;*/
  animation: fishtail1 6.1s ease-in-out infinite alternate;
  transform-origin: right bottom;
}
.clownfish-midtail {
  position: absolute;
  display: block;
  background-color: rgb(252, 149, 15);
  border-radius: 50%;
  box-shadow: inset 5px 0px 2px -2px rgba(0,0,0,0.8);
  width: 26px;
  height: 16px;
  /*transition: transform .2s ease-in-out;*/
  animation: fishtail5 4.1s ease-in-out infinite alternate;
  transform-origin: right;
}
.clownfish-fin {
  position: absolute;
  margin-top: 32px; 
  margin-left: 4px;
  background-color: rgb(252, 149, 15);
  background-image: radial-gradient(circle at 55px 10px,
                                      
                                      white 39px,
                                      black 40px,
                                      rgb(252, 149, 15) 41px
                      );
  border-radius: 40% 0% 0% 40%;
  width: 28px;
  height: 26px;
  box-shadow: inset 5px 0px 2px -2px rgba(0,0,0,0.8);
  /*transition: transform .2s ease-in-out;*/
  animation: fishtailfin 1.8s ease-in-out infinite alternate;
  transform-origin: right;
}
.clownfish-3ddepth{
  display: block;
  position: relative;
  margin-top: -47px;
  margin-left: 80px;
}
.clownfish-3ddepth1{
  
  display: block;
  position: relative;
  margin-top: -47px;
  /*margin-left: 80px;*/
  border-radius: 50%;
  width: 30px; 
  height: 47px;
  transform: rotate3d(-15,90,0,90deg);
  /*transform-style: preserve-3d;*/
  background-color: rgb(252, 149, 15);
  box-shadow: inset 0px 11px 18px -10px rgba(255,255,255,0.75),
              inset 0px -11px 18px -10px rgba(0,0,0,0.75);
}
.clownfish-3ddepth2{
  
  position: relative;
  margin-top: -49px;
  margin-left: -15px;
  border-radius: 50%;
  width: 30px; 
  height: 47px;
  transform: rotate3d(-15,90,0,90deg);
  /*transform-style: preserve-3d;*/
  background-color: white;/*rgb(252, 149, 15);*/
  border: 1px solid #000;
  box-shadow: inset 0px 11px 18px -10px rgba(255,255,255,0.75),
              inset 0px -11px 18px -10px rgba(0,0,0,0.75);
}
.clownfish-3ddepth3{
  
  position: relative;
  margin-top: -50px;
  margin-left: -30px;
  border-radius: 50%;
  width: 30px; 
  height: 50px;
  transform: rotate3d(-15,90,0,90deg);
  /*transform-style: preserve-3d;*/
  background-color: rgb(252, 149, 15);
  box-shadow: inset 0px 11px 18px -10px rgba(255,255,255,0.75),
              inset 0px -11px 18px -10px rgba(0,0,0,0.75);
}
.clownfish-3ddepth4{
  
  position: relative;
  margin-top: -47px;
  margin-left: -40px;
  border-radius: 50%;
  width: 30px; 
  height: 47px;
  transform: rotate3d(-15,90,0,90deg);
  /*transform-style: preserve-3d;*/
  background-color: white;/*rgb(252, 149, 15);*/
  border: 1px solid #000;
  box-shadow: inset 0px 11px 18px -10px rgba(255,255,255,0.75),
              inset 0px -11px 18px -10px rgba(0,0,0,0.75);
}
/* bubbles */
.bubble {
  width: 30px;
  height: 30px;
  position: absolute;
	border-radius: 50%;
	box-shadow: inset 0px 2px 6px 1px rgba(255, 255, 255, 1);
}
.bubble:after {
  background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 );
	border-radius: 50%;
	box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.3);
  content: "";
  height: 26px;
	left: 2px;
	position: absolute;
	width: 26px;
}
.xf {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0px;
  top: 100%;
  opacity: 0.4;
  border-radius: 50%;
  box-shadow: inset 0px 2px 6px 1px rgba(255, 255, 255, 1);
  transform: scale(0.8);
  animation: fishbubble 8s linear 4s infinite, fishbubblesideWays 4s ease-in-out infinite alternate;
}
.x1 {
  left: 20%;
  transform: scale(0.4);
  opacity: 0.4;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 21.5s ease-in-out 4s infinite, sideWays 1.5s ease-in-out infinite alternate;
}
.x2 {
  left: 40%;
  transform: scale(0.6);
  opacity: 0.5;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 11.2s ease-in-out infinite, sideWays 4.2s ease-in-out infinite alternate;
}
.x3 {
  left: 60%;
  transform: scale(0.6);
  opacity: 0.35;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 12.6s ease-in-out 3s infinite, sideWays 4.6s ease-in-out infinite alternate;
}
.x4 {
  left: 80%;
  transform: scale(0.7);
  opacity: 0.3;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 8.3s ease-in-out 4.5s infinite, sideWays 5.3s ease-in-out infinite alternate;
}
.x5 {
  left: 45%;
  transform: scale(0.5);
  opacity: 0.2;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 15s ease-in-out infinite, sideWays 3s ease-in-out infinite alternate;
}
.x6 {
  left: 65%;
  transform: scale(0.7);
  opacity: 0.35;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 10.9s linear infinite, sideWays 5.9s ease-in-out infinite alternate;
}
.x7 {
  left: 70%;
  transform: scale(0.4);
  opacity: 0.45;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 20s linear infinite, sideWays 1s ease-in-out infinite alternate;
}
.x8 {
  left: 50%;
  transform: scale(0.6);
  opacity: 0.5;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 13.8s linear 1.5s infinite, sideWays 4.8s ease-in-out infinite alternate;
}
.x9 {
  left: 30%;
  transform: scale(0.6);
  opacity: 0.4;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 14.5s linear 2.5s infinite, sideWays 4.5s ease-in-out infinite alternate;
}
.x10 {
  left: 10%;
  transform: scale(0.7);
  opacity: 0.3;
  transition: top .2s ease-in-out, margin-left .2s ease-in-out;
  animation: moveclouds 9.6s ease-in-out 1s infinite, sideWays 5.6s ease-in-out infinite alternate;
}
/* seaweed */
.seaweed1 {
  z-index: 1;
  position: absolute;
  left: 34%;
  bottom: -10px;
}
.seaweed2 {
  z-index: 1;
  position: absolute;
  left: 35%;
  bottom: -10px;
}
.seaweed3 {
  z-index: 1;
  position: absolute;
  left: 36%;
  bottom: -10px;
}
.seaweed4 {
  z-index: 1;
  position: absolute;
  left: 37%;
  bottom: -10px;
}
#seaweed1 {
  d: path('M32 64 C26 22 42 28 32 0 C38 48 26 48 31 64 Z'); 
  stroke: hsla(160, 59%, 60%, 0.3);
  stroke-width: 0.5;
  fill: url(#gradient-horizontal) gray;
  transition: animation .2s ease-in-out;
  animation: seaweed1 35.5s ease-in-out infinite alternate;
  box-shadow: inset 5px 0px 2px -2px rgba(255,255,255,1);
}
#seaweed2 {
  d: path('M32 64 C32 46 20 22 40 6 C30 16 26 36 31 64 Z'); 
  stroke: hsla(160, 59%, 60%, 0.3);
  stroke-width: 0.5;
  fill: url(#gradient-horizontal) gray;
  transition: animation .2s ease-in-out;
  animation: seaweed2 35.5s ease-in-out 3s infinite alternate;
  box-shadow: inset 5px 0px 2px -2px rgba(255,255,255,1);
}
#seaweed3 {
  d: path('M32 64 C38 46 24 40 32 0 C20 20 40 32 31 64 Z'); 
  stroke: hsla(160, 59%, 60%, 0.3);
  stroke-width: 0.5;
  fill: url(#gradient-horizontal) gray;
  transition: animation .2s ease-in-out;
  animation: seaweed3 35.5s ease-in-out 6s  infinite alternate;
  box-shadow: inset 5px 0px 2px -2px rgba(255,255,255,1);
}
#seaweed4 {
  d: path('M32 64 C28 34 36 28 22 6 C40 26 26 36 31 64 Z'); 
  stroke: hsla(160, 59%, 60%, 0.3);
  stroke-width: 0.5;
  fill: url(#gradient-horizontal) gray;
  transition: animation .2s ease-in-out;
  animation: seaweed4 35.5s ease-in-out 5s infinite alternate;
  box-shadow: inset 5px 0px 2px -2px rgba(255,255,255,1);
}
#gradient-horizontal {
  --color-stop-1: hsl(172, 100%, 72%);
  --color-stop-2: hsl(83, 100%, 21%);
  --color-stop-3: hsl(106, 90%, 21%);
}

/* animations */
/* gold fish rotations */
@keyframes rotation270-0-toleft-fromleft {
  0% {transform-origin: center;transform: rotate(0deg);}
  100% {transform-origin: center;transform: rotate(-15deg);}
}
@keyframes rotation90-0-toleft-fromleft {
  0% {transform-origin: center;transform: rotate(0deg);}
  100% {transform-origin: center;transform: rotate(20deg);}
}
@keyframes rotation0-270-toleft-fromleft {
  0% {transform-origin: center;transform: rotate(-15deg);}
  100% {transform-origin: center;transform: rotate(0deg);}
}
@keyframes rotation0-90-toleft-fromleft {
  0% {transform-origin: center;transform: rotate(20deg);}
  100% {transform-origin: center;transform: rotate(0deg);}
}
@keyframes rotation90-270-toleft-fromleft {
  0% {transform-origin: center;transform: rotate(-15deg);}
  100% {transform-origin: center;transform: rotate(20deg);}
}
@keyframes rotation270-90-toleft-fromleft {
  0% {transform-origin: center;transform: rotate(20deg);}
  100% {transform-origin: center;transform: rotate(-15deg);}
}

@keyframes rotation0-180-toleft-fromright {
  0% {transform-origin: center;transform: scaleX(-1);}
  100% {transform-origin: center;transform: scaleX(1);}
}
@keyframes rotation180-0-toright-fromleft {
  0% {transform-origin: center;transform: scaleX(1);}
  100% {transform-origin: center;transform: scaleX(-1);}
}

@keyframes rotation270-180-toright-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(0deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(-15deg);}
}
@keyframes rotation90-180-toright-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(0deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(20deg);}
}
@keyframes rotation180-270-toright-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(-15deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(0deg);}
}
@keyframes rotation180-90-toright-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(20deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(0deg);}
}
@keyframes rotation90-270-toright-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(-15deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(20deg);}
}
@keyframes rotation270-90-toright-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(20deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(-15deg);}
}

@keyframes rotation0-270-toleft-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(-15deg);}
  50% {transform-origin: center;transform: scaleX(1) rotate(-15deg);}
  100% {transform-origin: center;transform: scaleX(1) rotate(0deg);}
}
@keyframes rotation0-90-toleft-fromright {
  0% {transform-origin: center;transform: scaleX(-1) rotate(20deg);}
  50% {transform-origin: center;transform: scaleX(1) rotate(20deg);}
  100% {transform-origin: center;transform: scaleX(1) rotate(0deg);}
}

@keyframes rotation180-270-toright-fromleft {
  0% {transform-origin: center;transform: scaleX(1) rotate(-15deg);}
  50% {transform-origin: center;transform: scaleX(-1) rotate(-15deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(0deg);}
}
@keyframes rotation180-90-toright-fromleft {
  0% {transform-origin: center;transform: scaleX(1) rotate(20deg);}
  50% {transform-origin: center;transform: scaleX(-1) rotate(20deg);}
  100% {transform-origin: center;transform: scaleX(-1) rotate(0deg);}
}

/* gold fish */
@keyframes swing1 {
  0%  {transform: translate(0px,-9px);}
  100% {transform: translate(0px,9px);}
}
@keyframes swing2 {
  0%  {transform: rotate(-9deg);}
  100% {transform: rotate(9deg);}
}
@keyframes fishbreathe{
  0% {box-shadow: -1.5px 0px 1px -1px rgba(0,0,0,0.3);}
  70% {box-shadow: -1.5px 0px 1px -1px rgba(0,0,0,0.5);}
  100% {box-shadow: -3.5px 0px 1px -1px rgba(0,0,0,0.5);}
}
@keyframes fisheat{
  80% {clip-path: polygon(0 0, 100% 0, 100% 50%, 86% 51%, 100% 50%, 100% 100%, 0 100%);}
  100% {clip-path: polygon(0 0, 100% 0, 100% 40%, 86% 51%, 100% 60%, 100% 100%, 0 100%);}
}
@keyframes fisheye{
  0% {transform: translate(0px,0px);}
  25% {transform: translate(-2px,0px);}
  50% {transform: translate(0px,0px);}
  76% {transform: translate(2px,0px);}
  100% {transform: translate(0px,0px);}
}
@keyframes fishtailfin{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(35deg);}
}
@keyframes fishtail1{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(35deg);}
}
@keyframes fishtail2{
  0% {transform: rotateZ(-18eg);}
  100% {transform: rotateZ(-40deg);}
}
@keyframes fishtail3{
  0% {transform: rotate(40deg);}
  50% {transform: rotate(50deg);}
  100% {transform: rotate(40deg);}
}
@keyframes fishtail4{
  0% {transform: rotate(60deg);}
  100% {transform: rotate(45deg);}
}
@keyframes fishtail5{
  0% {transform: rotateX(-50deg);}
  100% {transform: rotateX(60deg);}
}
@keyframes fishbubble {
  0% {transform: translate(0px,0px);}
  100% {transform: translate(0px,-600px);}
}
@keyframes fishbubblesideWays {
  0% {margin-left: 0px;}
  100% {margin-left: 10px;}
}
/* bubbles */
@keyframes moveclouds {
  0% {top: 500px;}
  100% {top: -500px;}
}
@keyframes sideWays {
  0% {margin-left: 0px;}
  100% {margin-left: 25px;}
}
/* seaweed */
@keyframes seaweed1 {
  0% {d: path('M32 64 C26 22 42 28 32 0 C38 48 26 48 31 64 Z');}
  33% {d: path('M32 64 C32 46 20 22 40 6 C30 16 26 36 31 64 Z');}
  66% {d: path('M32 64 C38 46 24 40 32 0 C20 20 40 32 31 64 Z');}
  100% {d: path('M32 64 C28 34 36 28 22 6 C40 26 26 36 31 64 Z');}  
}
@keyframes seaweed2 {
  0% {d: path('M32 64 C32 46 20 22 40 6 C30 16 26 36 31 64 Z');}
  33% {d: path('M32 64 C38 46 24 40 32 0 C20 20 40 32 31 64 Z');}
  66% {d: path('M32 64 C28 34 36 28 22 6 C40 26 26 36 31 64 Z');}  
  100% {d: path('M32 64 C26 22 42 28 32 0 C38 48 26 48 31 64 Z');}
}
@keyframes seaweed3 {
  0% {d: path('M32 64 C38 46 24 40 32 0 C20 20 40 32 31 64 Z');}
  33% {d: path('M32 64 C28 34 36 28 22 6 C40 26 26 36 31 64 Z');}  
  66% {d: path('M32 64 C26 22 42 28 32 0 C38 48 26 48 31 64 Z');}
  100% {d: path('M32 64 C32 46 20 22 40 6 C30 16 26 36 31 64 Z');}
}
@keyframes seaweed4 {
  0% {d: path('M32 64 C28 34 36 28 22 6 C40 26 26 36 31 64 Z');}  
  33% {d: path('M32 64 C26 22 42 28 32 0 C38 48 26 48 31 64 Z');}
  66% {d: path('M32 64 C32 46 20 22 40 6 C30 16 26 36 31 64 Z');}
  100% {d: path('M32 64 C38 46 24 40 32 0 C20 20 40 32 31 64 Z');}
}