.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.draw {
  height: 110px;
  width: 110px;
  background-color: #EEEEEE;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
  border-radius: 20px;
}

.sea {
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: DeepSkyBlue;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 5px auto;
  line-height: 5em;
  border-radius: 15px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 5px auto;
  line-height: 5em;
  border-radius: 20px;
}


.drophere {
  /*overflow: hidden;*/
  display: flex;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}