@import url('https://fonts.googleapis.com/css?family=Dosis:800');
.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  z-index: 1;
  text-align: center;
  touch-action: none;
}

.draw {
  z-index: 2;
  position: fixed;
  height: 60px;
  width: 60px;
  visibility: visible;
  /*bottom: 0px;*/
  top: 70%;
  left: 45%;
  border-radius: 20px;
}

.bg {
  z-index: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: DeepSkyBlue;
  /*background-image: url(./bg.png);*/
  touch-action: none;
}

.drophere {
  display: flex;
  position: fixed;
  top: 5%;
  /*bottom: 0;*/
  width: 100%;
  touch-action: none;
}

.card {
  width: 60px;
  height: 60px;
  margin: auto auto;
  /*padding: 5px 5px;*/
  /*line-height: 5em;*/
  border-radius: 15px;
}
.cardmenu {
  position: fixed;
  width: 60px;
  height: 70px;
  padding: 5px 5px;
  font-size: 1em;
  text-align: center;
}
.backmenu{
  z-index: 3;
  top: 5px;
  left: 5px;
  width: 32px;
  text-align: center;
  position: relative;
  padding: 2px 2px;
  border-radius: 25px;
  background-color: #bfff00;
  color: #ff00bf;
  border: 3px solid #ff00bf;
}
.card-color {
  width: 60px;
  height: 60px;
  padding: 5px 5px;
  border-radius: 15px;
}

.score {
  position: fixed;
  width: 95%;
  text-align: right;
  left: 10px;
  bottom: 0;
  font: 7em 'Dosis', sans-serif;
  touch-action: none;

  background-color: #ff00bf;
  color: transparent;
  text-shadow: 0px 2px 3px rgb(191,255,0);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  
   -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
           text-rendering: optimizeLegibility !important;
  
  /* Unselectable score text */
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}





.animatenewcard {
  animation: newcard linear 1.5s;
  animation-iteration-count: 1;
}


@keyframes newcard {
  /* these 3 blocks do the same effect, which has better performance? */
  /*0% {transform: scaleX(0.00);}
  25% {transform: scaleX(0.25);}
  50% {transform: scaleX(0.50);}
  75% {transform: scaleX(0.75);}
  100% {transform: scaleX(1.00);}*/
  
  /*0% {transform: rotateY(90deg);}
  100% {transform: rotateY(0deg);}*/
  
  0% {transform: rotate3d(0, 1, 0, 90deg);}
  100% {transform: rotate3d(0, 1, 0, 0deg);}
	
}
